<div class="main-content"><!-- Center pane begins -->
<section class="center-pane">
<section class="container unipaper-blocks">
<div class="about-us">
<h2 class="text-center">About Us</h2>
<p>Explore your city with The University Paper as we give you the best places to eat, drink and make the most of uni life.</p>
<p>Sounds great but how do we do it?</p>
<p>Well, we&rsquo;ve got hundreds of student writers across the UK eager to share their unique knowledge of the amazing restaurants, clubs and more going on in their city.</p>
<p>Our team of professional journalists give advice to the student writers on how to make every article sparkle with witty and engaging copy.</p>
<p>So whether you want the best burgers in Bristol or the best places for a Tinder date in Edinburgh, we&rsquo;ve got it covered.</p>
<p>And (although we now pull in hundreds of thousands of readers a month) it all started on a much smaller scale at Nottingham Trent University in 2013.</p>
<p>The University Paper was founded as a free newspaper by student Chris Moss, covering news stories on Trent and its student population.</p>
<p>There were only 10,000 copies per edition but it quickly became one of the most exciting brands in the city and was embraced by the student population.</p>
<p>Following its success, the paper was expanded to cover all the Nottingham universities and then Bristol&rsquo;s.</p>
<p>After moving our HQ to London, we now cover 16 cities across the UK, pulling in hundreds of thousands of readers a month, who all come to us for advice on their local cities and our gripping and informative articles.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
</section>
</section>
<!-- Center pane ends --> <!-- Right pane begins -->
<aside class="right-pane">
<div class="container">
<div class="hidden-xs">
<div id="div-gpt-ad-1473939867799-0" style="height: 600px; width: 300px; margin: 0 auto;"><!-- HPU ad here --></div>
</div>
<br />
<section class="container-fluid top-stories-content">
<div class="vertical-rectangle-ad visible-xs">
<div id="div-gpt-ad-1473939867799-1" style="height: 600px; max-width: 300px; margin: 0 auto;"><!-- HPU Ad here --></div>
<div class="horz-divider">&nbsp;</div>
</div>
<br />
<h2 class="top-stories-header">Most Popular</h2>
<article class="container-fluid horizontal-module {{ topStoriesContent.horizontalModule1.image === '' ? 'module-without-image' : '' }}">
<div class="col-sm-6 col-md-6 col-lg-6 col-xs-7 headline">
<div class="headline-text">{{ topStoriesContent.horizontalModule1.headline }}</div>
<div class="writer-and-date-text">{{ topStoriesContent.horizontalModule1.writerAndDate }}</div>
</div>
<div class="col-sm-6 col-md-6 col-lg-6 col-xs-5 article-image-container">
<div class="article-image"><img class="object-fit-cover" /></div>
</div>
</article>
<article class="container-fluid horizontal-module {{ topStoriesContent.horizontalModule2.image === '' ? 'module-without-image' : '' }}">
<div class="col-sm-6 col-md-6 col-lg-6 col-xs-7 headline">
<div class="headline-text">{{ topStoriesContent.horizontalModule2.headline }}</div>
<div class="writer-and-date-text">{{ topStoriesContent.horizontalModule2.writerAndDate }}</div>
</div>
<div class="col-sm-6 col-md-6 col-lg-6 col-xs-5 article-image-container">
<div class="article-image"><img class="object-fit-cover" /></div>
</div>
</article>
<article class="container-fluid horizontal-module {{ topStoriesContent.horizontalModule3.image === '' ? 'module-without-image' : '' }}">
<div class="col-sm-6 col-md-6 col-lg-6 col-xs-7 headline">
<div class="headline-text">{{ topStoriesContent.horizontalModule3.headline }}</div>
<div class="writer-and-date-text">{{ topStoriesContent.horizontalModule3.writerAndDate }}</div>
</div>
<div class="col-sm-6 col-md-6 col-lg-6 col-xs-5 article-image-container">
<div class="article-image"><img class="object-fit-cover" /></div>
</div>
</article>
<article class="container-fluid horizontal-module {{ topStoriesContent.horizontalModule4.image === '' ? 'module-without-image' : '' }}">
<div class="col-sm-6 col-md-6 col-lg-6 col-xs-7 headline">
<div class="headline-text">{{ topStoriesContent.horizontalModule4.headline }}</div>
<div class="writer-and-date-text">{{ topStoriesContent.horizontalModule4.writerAndDate }}</div>
</div>
<div class="col-sm-6 col-md-6 col-lg-6 col-xs-5 article-image-container">
<div class="article-image"><img class="object-fit-cover" /></div>
</div>
</article>
<div class="hidden-xs">
<div id="div-gpt-ad-1473939867799-2" style="height: 250px; width: 300px; margin: 0 auto;"><!-- MPU ad here --></div>
</div>
<div class="visible-xs">
<div id="div-gpt-ad-1473939867799-3" style="height: 250px; width: 300px; margin: 0 auto;"><!-- MPU ad here --></div>
</div>
</section>
</div>
</aside>
<!-- Right pane ends --></div>