<div class="main-content">
  <!-- Center pane begins -->
  <section class="center-pane">
  	<section class="container unipaper-blocks">
      <div class="advertise-with-us">
  		<h2 class="text-center">Advertise with us</h2>
  	  <p>For companies looking to target the hugely lucrative student market, The University Paper offers unrivalled engagement in the heart of their communities.</p>
      <p>To discuss a potential campaign contact our team.<br><span class="red-txt">+44 (0) 20 7580 6419</span></p>
      <div class="info-blocks">
        <div class="block-txt">
          <h2>700K</h2>
          <small>Readers</small>
        </div>
        <div class="block-txt">
          <h2>80%</h2>
          <small>Rebook rate</small>
        </div>
        <div class="block-txt">
          <h2>16</h2>
          <small>UK Cities</small>
        </div>
        <div class="block-txt">
          <h2>53</h2>
          <small>Campuses</small>
        </div>
        <div class="block-txt no-border">
          <h2>900+</h2>
          <small>Pick up points</small>
        </div>
      </div>
      <h2 class="text-center">Our Clients Include</h2>
      <div class="clients-list">
        <img src="assets/img/nhs-logo.png" alt="NHS">
        <img src="assets/img/red-bull.png" alt="Red Bull">
        <img src="assets/img/kfc-logo.png" alt="KFC">
        <img src="assets/img/specsavers-logo.png" alt="Specsavers">
        <img src="assets/img/subway-logo.png" alt="Subway">
        <img src="assets/img/deliveroo-logo.jpg" alt="Deliveroo">
        <img src="assets/img/tesco-logo.jpg" alt="Tesco">
        <img src="assets/img/jd-logo.jpg" alt="JD">
        <img src="assets/img/o2-logo.jpg" alt="O2">
      </div>
      <div class="horz-divider"></div>
      <blockquote>
        <p><span>"</span>The University Paper will go out of their way to make sure the media agency is happy with their buy as well as making sure the client is happy with the activity in the paper. I would not hesitate to recommend The University Paper to anybody looking to target students in the UK<span>"</span></p>
      </blockquote>
      <p>Jake Bull, Media Planner/Buyer - RedBull</p><br>
      <p>The University Paper is a cross platform publication that provides the UK’s 2.5 million students with news straight from their campus. Our 16 regional newspapers produced monthly coupled with localised news sites make us the largest youth publisher in the UK. With strong distribution links to universities and editorial content that can’t be found anywhere else, our advertisers – including Red Bull, PWC, Deliveroo, Aldi, KFC, O2, Tesco, ASOS and JD Sports – have seen some fantastic results.</p>
      <p>To visit The Paper <a ui-sref="the-paper">click here</a></p>
      </div>
  	</section>
  </section>
  <!-- Center pane ends -->

  <!-- Right pane ends -->
</div>